.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon > i {
  font-size: 36px;
}

.find-icons__icon > span {
  margin-top: 16px;
  font-weight: 500;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;

  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray);
}

.recommended-friends > span {
  margin: 110px 0px;
  display: block;
  text-align: center;
  font-weight: 500;
  color: var(--gray);
}
