.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 700;
}

.screen-header__icons > span {
  margin-left: 24px;
}

.screen-header__icons > span:last-child {
  position: relative;
}

.screen-header__new-mark {
  width: 8px;
  height: 8px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}
