.user-components,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avartar {
  width: 70px;
  height: 70px;
  border-radius: 33%;
  margin-right: 20px;
}

.user-component__avartar--xl {
  width: 80px;
  height: 80px;
}
.user-component__title {
  font-weight: 700;
  font-size: 22px;
}

.user-component__subtext {
  margin-top: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
